<div class="custom-container">
  <h1 class="title is-3 margin-navbar has-text-white has-text-centered vertical-spacing">Sign up</h1>

  <div class="form-custom">
    <div class="has-text-centered">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="control has-text-centered">
          <%= f.label :email, class: 'label has-text-white'%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input form-input'%>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label has-text-white' %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, placeholder: "#{@minimum_password_length} characters minimum", autocomplete: "new-password", class:'input form-input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label has-text-white' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input form-input' %>
      </div>

      <div class="field">
        <%= f.submit "Sign up", class:'button is-info vertical-spacing' %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>